.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.validation {
  text-align: center;
  margin: 0;
  color: #DA4167;
}

.input {
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

.button {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  padding: 12px;
  background-color: #DA4167;
  border: none;
  color: #fff;
}

.button:hover {
  background-color: #CB2A52;
}

.button:active {
  background-color: #DA4167;
}

.button:focus{
  outline: 2px solid black;
}